html {
    height: 225px;
    width: 400px;
}
#button {
    border-radius: .01px;
    background-color: #CCFFFF;
    font-family: Calibri;
    height: 35px;
    width: 75px;
    border: .0001px solid #CCFFFF;
}

body {
    font-family: Calibri;
}

*{
    margin: 0 auto;
}

#button2 {
    border-radius: .01px;
    background-color: #CCFFFF;
    font-family: Calibri;
    height: 35px;
    width: 75px;
    border: .0001px solid #CCFFFF;
}

#button:hover {
    background-color: #B8E6E6;
    cursor: pointer;
}

#button2:hover {
    background-color: #B8E6E6;
    cursor: pointer;
}

#paragraph-1 {
    font-family: Calibri;
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
    background-color: #3C3C41;
    padding-top: 0px;
    position: absolute;
    top:0px;
    width: 275px;
}

* {
    background-color: #F2F2F2;
}

.input_class {
    background-color: white;
    width: 270px;
}

.bootypipe {
    border-radius: .01px;
    background-color: #D8D8D8;
    font-family: Calibri;
    font-size: 18px;
    height: 35px;
    width: 100px;
    border: .00001px solid #D8D8D8;
}

.bootypipe:hover {
    background-color: #A4A4A4;
    cursor: pointer;
}

