#button {
    border-radius: .01px;
    background-color: #CCFFFF;
    font-family: Calibri;
    height: 35px;
    width: 75px;
    border: .0001px solid #CCFFFF;
    
}

body {
    font-family: Calibri;
}
* {
    margin-left: auto;
}
#button2 {
    border-radius: .01px;
    background-color: #CCFFFF;
    font-family: Calibri;
    height: 35px;
    width: 75px;
    border: .0001px solid #CCFFFF;
}